$font-family: 'Roboto', sans-serif;
$font-color: #ecf0f1;
$bg-color: #3498db;

$app-colors: (
  primary: #1f8dd6,
  dark-color: #2d3e50,
  light-color: #ebebeb,
  item-color: #6fbef3,
  dark-text-color: #4b7197,
  white-color: #ffffff,
  black-color: #000000,
  facebook: #3b5998,
  google: #4285f4,
  text-border: rgb(204, 204, 204),
  box-shadow: #eaeaea
);

$jv1-color: #9e7272;
